<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>substituivel</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>CALCULADORA</header>
    <div class="i">
        <label for="valor1">conta: </label>
        <input type="text" id="valor1"><br>
        <!-- Campo onde o usuário digita a conta (ex: 10 + 20) -->

        <button onclick="operacao()">RESULTADO</button>
        <!-- Botão que chama a função no JavaScript -->

        <p id="resultado">Resultado: </p>
        <!-- Lugar onde o resultado vai aparecer -->

    </div>
    <script src="../scripts/calculadora.js"></script>
</body>
</html>